<%-include("partials/header");%>
<h1>Compose</h1>
<form class="" action="/" method="post">


  <div class="">
    <label for="postTitle">Title</label>
    <textarea name="postTitle" rows="1" cols="150"></textarea>
  </div>



  <div class="">
    <label for="postBody">Post</label>
    <textarea name="postBody" rows="8" cols="150"></textarea>
    <button type="button submit" class="btn btn-primary">Publish</button>

  </div>
</form>


<%-include("partials/footer");%>
